 
.loader-container{

  width: auto;
  width: 100%;  
    display: flex;
    justify-content: center;


  /*
  position: relative;  
  height: 5rem;
  margin: 4rem;
*/
}
 
/*
.loader-container .semicircle1{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: solid 1rem transparent;
  border-top-color: #0dac77;
  border-left-color: #0dac77;
  border-radius: 50%;
  animation: semicircle1 1.6s linear infinite;
}
 
.loader-container .semicircle2{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 55%;
  border: solid 1rem transparent;
  border-top-color: #283fc3;
  border-left-color: #283fc3;
  border-radius: 50%;
  animation: semicircle2 1.3s linear infinite;
}
 
@keyframes semicircle1{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
@keyframes semicircle2{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

*/

.loader{
    
    background-color: rgba(250, 250, 250, .6);
    background-color: rgba(250, 250, 250, .5);
    background-color: rgba(0, 0, 0, .6);
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 100000;
               
    
}




/* prueba nuevo*/


.spinner {
  margin: 100px auto;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center
}


.spinner > div {
  /*background-color: SeaGreen ;*/
  

  height: 100%;


  width: 6px;
  width: 20px;

  margin: 6px;

  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;

}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;  
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {     
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    
  }  20% {     
    transform: scaleY(0.8);
    -webkit-transform: scaleY(0.8);
  }
}