


/* color  */
/* 
#1565c0 blue darken-3
#0277bd light-blue darken-3
*/

:root {     
    --primer-color    : #0277bd;    
}
  


.input-field input[type=text]:focus + label, 
.input-field input[type=password]:focus + label, 
.materialize-textarea:focus:not([readonly]) + label {
 color: var(--primer-color) !important;
}


.input-field input[type=text]:focus, 
.input-field input[type=password]:focus, 
.materialize-textarea:focus:not([readonly]) 
{
 border-bottom: 1px solid var(--primer-color) !important;
 box-shadow: 0 1px 0 0 var(--primer-color) !important;
}


/*
   .material-icons{
    color: #1a237e !important;
    }
  
  .material-icons.active {
    color: #b71c1c !important;
    }
*/




.spinner > div {
    background-color: var(--primer-color) ;
}



/* botones */



.mcolor {
    background-color: var(--primer-color)  !important;
}


.pagination li.active {
    background-color: var(--primer-color) ;
}


/*
.btn, .btn-large, .btn-small {
    background-color: var(--primer-color);
}
*/

/* botones */
/*
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #1e88e5;
}
*/

