

.dbutton{
    width: 120px;
    margin-bottom: 20px;
}




/*dimension .css*/
.wp3 {
    width: 30%;
}

/*
.wp6 {
    width: 60%;
}
*/





#icomenu{
     font-size: 40px;
}



i.icon-red {
    color: red;
}



.padl20 {
    padding-left: 20px;
}



.sidenav-link
{
    display: block;
}

.sidenav-link a
{
    display: block;
}