

/*

.fcol {

    display: flex;
    flex-direction: column  ;
    
}

.frow {

    display: flex;
    flex-direction: row  ;
    
}

.frowcen {

    display: flex;
    flex-direction: row  ;
    justify-content: center
    
}


*/


