  




.valign-wrapper {
   height: 100vh;  
   height: 100vh;
}



#toast-container {
    top: unset;
    bottom: 10%;
}


nav .nav-wrapper {
    display:flex;
    justify-content: space-between;
}



.menu-icono{
    display:flex;
    margin-left: 18px;
    margin-right: 18px;
}


.collapsible li.active{
    /*background:  red;*/
}


.collapsible-body{
    margin-left: 0px;
}


td,   th {
    padding: 10px 5px; 
}



@media only screen and (min-width: 900px){
    nav a.sidenav-trigger {
        display: block;
    }
}




/*
@media only screen and (min-width: 601px)
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 6vh;
    line-height: 6vh;
}
*/






/*
.input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #1a237e !important;
   }
*/

   /*
   .input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important;
   }
   */
   



