

<div> 
    <div class="row">  
      <div class="col s12 m10 l8 xl6">

        <h5>Monedas</h5>

        <div class="section">

            <form id="form_moneda">                            
                                
                <div class="row">
                    <div class="input-field col col s12 m8 l7 xl6">
                        <input id="moneda_moneda" 
                            name="moneda_moneda" 
                            type="text" 
                            >                                            
                        <label for="moneda_moneda">Moneda</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input id="moneda_nombre" 
                            name="moneda_nombre" 
                            type="text" 
                            >                                            
                        <label for="moneda_nombre">Nombre</label>
                    </div>
                </div>




                <div class="row">
                    <div class="col s12">


                        <div class="left">                
                            <button 
                                class="btn waves-effect waves-light dbutton blue-grey " 
                                id = "btn_moneda_cancelar"
                                type="button" 
                                name="action">
                                Cancelar
                            </button>      
                        </div>                    

                        <div class="right">                
                            <button 
                                class="btn waves-effect waves-light dbutton mcolor" 
                                id = "btn_moneda_aceptar"
                                type="button" 
                                name="action">
                                Aceptar
                            </button>      
                        </div>



                    </div>

                </div> 

            </form>

        </div>



      </div>
    </div>
</div>

