



<div> 

  <div class="row">

    <div class="col s12 m10 l8 xl6">


      <h5>Monedas</h5>

      <div class="section">
        
        <a href="#" class="btn waves-effect waves-light mcolor" id="cmd_moneda_nuevo" >
          <i class="medium material-icons ">add</i>        
        </a>
        <a href="#" class="btn waves-effect waves-light mcolor" style="display: none;" >
          <i class="medium material-icons ">filter_list</i>        
        </a>
        <a href="#" class="btn waves-effect waves-light mcolor" style="display: none;" >
          <i class="medium material-icons ">search</i>        
        </a>

      </div> 




      <table class="highlight" id="moneda_tabla">
        <thead>
          <tr>
              <th>Moneda</th>
              <th>Nombre</th>
          </tr>
        </thead>
  
        <tbody id="moneda_tabla_tbody">

        </tbody>
      </table>




      <div class="section">

        <ul class="pagination center">



          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        

        
        </ul>

      </div>      


    </div>
  </div>



</div>

