


          <ul class="collapsible" id="collapsible_sistema">

            <li>
              <div class="sidenav-link padl20 navbar-fixed">
              </div>  
            </li>     


            <li>
              <div class="collapsible-header">
                Configuracion
              </div>
              <div class="collapsible-body">

                <ul class="collapsible">

                    <li>
                      <div class="collapsible-header">
                        <div  class="padl20">Tablas basicas</div>                        
                      </div>

                      <div class="collapsible-body">
                        
                        <div class="sidenav-link padl20">
                          <a href="javascript:void(0);"
                            id="link1">
                            Tipo de moneda                            
                          </a>
                        </div>  

                        <div class="sidenav-link padl20">
                          <a href="javascript:void(0);">
                            Second Link
                          </a>                        
                        </div>  

                      </div>
                    </li>                    

                </ul>

              </div>
            </li>
            
            <li>
              <div class="collapsible-header">
                Nivel 02
              </div>
              <div class="collapsible-body">
              </div>
            </li>



          </ul>



